* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  overflow-x: hidden;
}

:root {
  --red: #E3646E;
  --purple: #BB72E9;
  --blue: #3996DB;
  --green: #82BC4F; 
  --yellow: #EABD5F;
  --gray-100: #E2E4E9;
  --gray-200: #C0C4CE;
  --gray-300: #878EA1;
  --gray-400: #292C34;
  --gray-500: #16181D;
  --gray-600: #0D0E11;
  --font-family: "Asap", sans-serif;
  --title-lg: 700 56px/120% var(--font-family);
  --title-md: 700 24px/120% var(--font-family);
  --title-sm: 700 16px/120% var(--font-family);
  --font-family-2: "Inconsolata", monospace;
  --subt: 400 20px/120% var(--font-family-2);
  --font-family-3: "Maven Pro", sans-serif;
  --text-md: 400 16px/140% var(--font-family-3);
  --text-sm: 400 14px/140% var(--font-family-3);
}

body {
  max-width: 100vw;
}



h1 {
 font: var(--title-lg);
 color: var(--gray-100); 
  
}

h2 {
 font: var(--title-md);
  justify-self: center;
 color: var(--gray-100); 
}

h3 {
  font: var(--subt);
  color: var(--gray-200);
  justify-self: center;
}

h3>span {
  color: var(--red);
}

.name {
  font-size: 1.1em;
  
}

 p {
  font: var(--text-sm);
  color: var(--gray-300);
 }

 




