header#primary {
  background-image: url(../assets/Background_Intro.png);
  background-size: cover;
  padding: 57px 163px ;
  display: grid;
  gap: 56px;
  /* max-width: 100%; */
  /* margin: auto; */
  /* height: 800px; */
  /* width:1366px; */
  
}

#pai {
  display: grid;
  /* margin-top: px; */
  width: 1040px;
  height: 447px;
  justify-self: center;
  margin: auto;
}

#pai2 {
  display: grid;
  background-color: var(--gray-500);
  justify-content: center;
  /* width: 1040px; */
  /* height: 917px; */
  padding: 72px 120px 144px 120px;
}

#pai3 {
  background-image: url(../assets/Background_Contacts.png);
  background-size: cover;
  height: 787px;
  padding-top: 123px;

}

#title {
  display: grid;
  justify-items: center;
  gap: 20px;
  padding-bottom: 80px;
}

#services {
  background: var(--gray-600);
  padding: 88px 120px 120px 120px;
}

.perfil {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 9999px;
  justify-self: center;
  margin-bottom: 56px;
  
  /* gap: 56px; */
  
}

.perfil2 {
  display: flex;
  
  object-fit: cover;
  border-radius: 9999px;
  justify-self: center;
  
  
}

.perfil {
  border: var(--red) solid 2px ;
  width: 96px;
  height: 96px;
  padding: 4.36px;
  
}

.code {
  position: absolute;
  display: flex;

}

p {
  text-align: center;
  width: 680px;
  height: 40px;
}

.logos {
  display: grid;
  gap: 16px;
  grid-auto-flow: column;
  justify-self: center;
  justify-content: space-between;
  img {
    width: 24px;
    height: 24px;
  }

  span {
    padding-right: 16px;
    padding-left: 8px;
  }
}

figure.git {
  border: solid var(--gray-400);
  border-radius: 999px;
  background-color: var(--gray-400);
  width: 116px;
  height: 40px;
  color: var(--gray-200);
  padding-left: 16px;
}

 figcaption {
  display: grid;
  font: var(--text-md);
  color: var(--gray-200);
}

figure.htmll {
  border: solid var(--gray-400);
  border-radius: 999px;
  background-color: var(--gray-400);
  width: 110px;
  height: 40px;
  padding-left: 16px;
}



figure.csss {
  border: solid var(--gray-400);
  border-radius: 999px;
  background-color: var(--gray-400);
  width: 99px;
  height: 40px;
  padding-left: 16px;
}

figure.javaa {
  border: solid var(--gray-400);
  border-radius: 999px;
  background-color: var(--gray-400);
  width: 150px;
  height: 40px;
  padding-left: 16px;
}

figure.reactt {
  border: solid var(--gray-400);
  border-radius: 999px;
  background-color: var(--gray-400);
  width: 110px;
  height: 40px;
  padding-left: 16px;
}

figure.jss {
  border: solid var(--gray-400);
  border-radius: 999px;
  background-color: var(--gray-400);
  width: 125px;
  height: 40px;
  padding-left: 16px;
}



.lg {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  /* gap: 8px; */
  
}

.setab {
  display: grid;
  justify-self: center;
  padding-top: 94px; 
  /* padding-bottom: 57px; */
}

.my-work {
  color: var(--red);
}

.my {
  display: grid;
  justify-content: center;
  gap: 8px;
  padding-bottom: 56px;
}

.work {
  border: solid var(--gray-400);
  border-radius: 12px;
  background-color: var(--gray-400);
  width: 330px;
  height: 280px;
  color: var(--gray-200);
  gap: 20px;
  justify-content: center;
  padding: 12px;
}

.worky {
  /* border: solid var(--gray-300); */
  background-color: var(--gray-300);
  width: 306px;
  height: 156px;
  border-radius: 8px;
  justify-self: center;
  
}

.image-work {
  width: 306px;
  height: 156px;
  border-radius: 8px;
}

.wk {
  display: grid;
  font: var(--title-md);
  color: var(--gray-100);
  justify-content: start;
}

.wk2 {
  display: grid;
  font: var(--text-sm);
  color: var(--gray-200);
  justify-content: start;
  text-align: justify;
}

.contact {
  color: var(--purple);
}

.contact2 {
  display: grid;
  font: var(--text-md);
  color: var(--gray-200);
  justify-self: center;
}

.contact3 {
  font: var(--text-sm);
  color: var(--gray-200);

}

.cont {
  border: solid var(--gray-400);
  border-radius: 8px;
  background-color: var(--gray-400);
  width: 400px;
  height: 68px;
  color: var(--gray-200);
}

.tt {
  display: grid;
  padding-bottom: 16px;
}

.seta {
   display: grid;
   justify-items: end;
   align-self: center;
   justify-self: end;
}


.social {
  display: grid;
  grid-template-columns: 28px 1fr 20px;
  align-items: center;
  padding-inline: 20px;
  gap: 12px ;
  font: var(--text-md);
  padding-top: 20px;
}

.my-services {
  border: solid var(--gray-400);
  border-radius: 12px;
  width: 280px;
  height: 155px;
  /* gap: 20px; */
  /* justify-content: center; */
}

.srv {
  display: grid;
  font: var(--title-sm);
  color: var(--gray-100);
  justify-content: start;
  height: 20px;
}

.srv2 {
  display: grid;
  font: var(--text-sm);
  color: var(--gray-200);
  justify-content: start;
  padding-inline: 12px;
  text-align: justify; 
  height: 20px;
}






