.grid {
  display: grid;
 }

 .gap-24 {
  gap: 24px;
 }

.grid-col {
  grid-template-columns: repeat(3, 1fr);
}

.gap-8 {
  gap: 8px;
}

.pd-48 {
  padding-bottom: 48px;
}

.gap-16 {
  gap: 16px;
}

.col {
  /* display: grid; */
  grid-auto-flow: column;
  justify-self: center;
}

.auto {
  grid-auto-flow: column;
}

